.navigationBar{
    background-color:white;
    color: black;
    position:fixed;
    margin-bottom:5%;
    height: 9%;
    padding:0;
    @media screen and (max-width: 768px) {
        height: 7%;
    }
}